!!!
%html
  %head
    %title #{@page_title}
    = stylesheet_link_tag 'notices/application'
    = javascript_include_tag 'notices/application'
    = csrf_meta_tags
    :javascript
      window.Notices = {}
      window.Notices.currencyUnit = "$";
  %body
    %nav.sidebar
      %header.logo
        %h1= link_to 'BU NoticeIt', root_path
        %p v#{Notices::VERSION}


      %ul
        %li= link_to "Home", root_path, :method => :get
        - if current_user == false
          %li= link_to current_user.full_name
        %li= link_to "My Notices", :products, :method => :get
        %li= link_to "Logout", :logout, :method => :delete

        
          
        
    
    %header.main
      = yield :header
      
    #content  
      = display_flash
      %section.main
        = yield

    %footer 
      %p.store= link_to "&larr; Goto BU NoticeIt Home".html_safe, '/'
      
