%table.orderItems
  %thead
    %tr
      %td Name
      %td Short Description
      %td Price
      %td Posted By
      %td Posted On
      %td Unsubscribe
  %tbody
    - for item in order.order_items.includes(:ordered_item, :order)
      %tr
        %td= item.ordered_item.name
        %td= item.ordered_item.short_description
        %td.money.price= number_to_currency item.unit_price
        %td= item.order.first_name
        %td= item.order.created_at
        %td=  link_to "Unsubscribe", remove_basket_item_path(item), :method => :delete
        
  
